<header>
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active-link" i18n="Navigation link to Home page@@headerNavHome">
        <img [src]="assets/icons/japl-icon.png" width="50" hight="50"/>
      </a></li>
      <li><a routerLink="/home" routerLinkActive="active-link" i18n="Navigation link to Home page@@headerNavHome">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="active-link" i18n="Navigation link to Projects page@@headerNavProjects">Projects</a></li>
      <li><a routerLink="/about" routerLinkActive="active-link" i18n="Navigation link to About Me page@@headerNavAboutMe">About Me</a></li>
    </ul>
  </nav>
  <div class="language-switcher">
    <a [href]="switchLink" [title]="tooltipText">{{ buttonText }}</a>
  </div>
</header>
